[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pymmwr = "*"
click = "*"
urllib3 = "*"
selenium = "*"
webdriver-manager = "*"
pyyaml = "*"
pygithub = "*"
pytz = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.zoltpy]
editable = true
git = "https://github.com/reichlab/zoltpy@issue_57"

[packages.pykwalify]
file = "https://github.com/hannanabdul55/pykwalify/archive/master.zip"
